<header>
  <h3>Salve</h3>
  <p>Bem vindo aos melhores do mundo!</p>
  <img src="../assets/lucas-paqueta-brazil.gif" alt="gif-paqueta">
</header>

  <ul>
    <li>
      <a routerLink="./neymarjr" routerLinkActive="active" ariaCurrentWhenActive="page">Neymar Jr</a>
    </li>
    <li>
      <a routerLink="./messi" routerLinkActive="active" ariaCurrentWhenActive="page">Lionel Messi</a>
    </li>
    <li>
      <a routerLink="./mbappe" routerLinkActive="active" ariaCurrentWhenActive="page">Kylian Mbappe</a>
    </li>
    <li>
      <a routerLink="./ronaldo" routerLinkActive="active" ariaCurrentWhenActive="page">Cristiano Ronaldo</a>
    </li>
  </ul>

<router-outlet></router-outlet>
